html, body {
  margin: 0;
  padding: 0;
  display: flex;
  /*Hide scrollbars*/
  overflow: hidden;
}

canvas {
  display: flex;
}

button {
  margin: 25px;
  width: 100px;
  height: 100px;
  text-align: center;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  
  cursor: pointer;
}

sidebar {
  width: 150px;
  /*background-color: rgba(44, 47, 105, 0.418);*/
  position: absolute;
  top: 0%;
  height: 395px;
}

library {
  width: 30%;
  background-color: rgba(44, 47, 105, 0.418);
  position: absolute;
  top: 0%;
  height: 100%;
  display: block;
  color: white;
}

libraryItems{
  margin: 25px 100px;
  display: block;
}

constellationPopups {
  position: absolute;
  display: none;
  margin: auto;
  width: 500px;
  height: 500px;
  top: 10%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

finishedConstellationPopup {
  position: absolute;
  top: 80%;
  left: 35%;
  margin-left: auto;
  margin: auto;
  width: 30%;
  height: 10%;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  display: block;
}

ariesItem {
  display: none;
}

taurusItem {
  display: none;
}

geminiItem {
  display: none;
}

cancerItem {
  display: none;
}

leoItem {
  display: none;
}

virgoItem {
  display: none;
}

libraItem {
  display: none;
}

scorpioItem {
  display: none;
}

sagittariusItem {
  display: none;
}

capricornItem {
  display: none;
}

aquariusItem {
  display: none;
}

piscesItem {
  display: none;
}


ariesPopup {
  display: none;
}

taurusPopup {
  display: none;
}

geminiPopup {
  display: none;
}

cancerPopup {
  display: none;
}

leoPopup {
  display: none;
}

virgoPopup {
  display: none;
}

libraPopup {
  display: none;
}

scorpioPopup {
  display: none;
}

sagittariusPopup {
  display: none;
}

capricornPopup {
  display: none;
}

aquariusPopup {
  display: none;
}

piscesPopup {
  display: none;
}

@media screen and (max-width: 1500px){
  library {
    width: 450px;
  }
}