html, body {
  margin: 0;
  padding: 0;
  display: block;
  /*Hide scrollbars*/
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

canvas {
  display: flex;
}

button {
  margin: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 0px 5px 2px;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5px;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  
  cursor: pointer;
}

button.closeButton {
  margin: 0px 0px 0px 449px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px 0px;

  background-color: #090f31;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  
  text-decoration: none;
  font-size: 12px;
  display: absolute;
  cursor: pointer;
}

sidebar {
  width: 150px;
  /*background-color: rgba(44, 47, 105, 0.418);*/
  position: absolute;
  top: 0%;
  height: 395px;
}

library {
  width: 20%;
  background-color: rgba(44, 47, 105, 0.418);
  position: absolute;
  top: 0%;
  height: 100%;
  display: none;
  color: white;
  font-size: 24px;
}

libraryItems {
  margin: 25px 100px;
  display: block;
  cursor: pointer; 
}

quiz {
  background-color: #0e153bb9;
  position: absolute;
  display: none;
  margin: auto;

  line-height: 0px;
  width: 60%;
  height: 750px;
  top: 10%;
  bottom: 20%;
  left: 20%;
  padding-top: 50px;

  font-size: 32px;
  color: white;

  margin: 0px;
  text-align: center;

  border: solid white 1px;
  border-radius: 15px;
}

img {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  margin-top: 10%;
}

constellationPopups {
  background-color: #0e153bb9;
  position: absolute;
  display: none;
  margin: auto;

  line-height: 0px;
  width: 800px;
  height: 675px;
  top: 10%;
  bottom: 20%;
  left: 23%;
  right: 1%;
  padding-top: 12px;

  font-size: 32px;
  color: white;

  text-align: center;

  border: solid white 1px;
  border-radius: 15px;
}

description {
  font-size: 16px;
  line-height: 150%;
  display: block;
  text-align: center;
  padding: 10px 16px 0 16px
}

finishedConstellationPopup {
  background-color: #040a30e4;
  color: white;
  position: absolute;
  display: none;
  margin: auto;
  
  width: 600px;
  height: 275px;
  top: 80%;
  bottom: 20%;
  left: 23%;
  right: 1%;

  padding: 0px 40px 30px;
  border-radius: 15px;
  border: solid white 1px;
  text-align: center;
  height: 10%;
  font-size: 24px;
}

button.closeButton2 {
  margin: 12px 0px 0px 602px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px 0px;

  background-color: #090f31;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  
  text-decoration: none;
  font-size: 12px;
  display: absolute;
  cursor: pointer;
}

ariesItem {
  display: none;
}

taurusItem {
  display: none;
}

geminiItem {
  display: none;
}

cancerItem {
  display: none;
}

leoItem {
  display: none;
}

virgoItem {
  display: none;
}

libraItem {
  display: none;
}

scorpioItem {
  display: none;
}

sagittariusItem {
  display: none;
}

capricornItem {
  display: none;
}

aquariusItem {
  display: none;
}

piscesItem {
  display: none;
}

ariesPopup {
  display: none;
}

taurusPopup {
  display: none;
}

geminiPopup {
  display: none;
}

cancerPopup {
  display: none;
}

leoPopup {
  display: none;
}

virgoPopup {
  display: none;
}

libraPopup {
  display: none;
}

scorpioPopup {
  display: none;
}

sagittariusPopup {
  display: none;
}

capricornPopup {
  display: none;
}

aquariusPopup {
  display: none;
}

piscesPopup {
  display: none;
}

aries {
  display: none;
}

taurus {
  display: none;
}

gemini {
  display: none;
}

cancer {
  display: none;
}

leo {
  display: none;
}

virgo {
  display: none;
}

libra {
  display: none;
}

scorpio {
  display: none;
}

sagittarius {
  display: none;
}

capricorn {
  display: none;
}

aquarius {
  display: none;
}

pisces {
  display: none;
}

@media screen and (max-width: 1500px){
  library {
    width: 300px;
  }
}