html, body {
  margin: 0;
  padding: 0;
  display: block;
  /*Hide scrollbars*/
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

canvas {
  display: flex;
}

button {
  margin: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 0px 5px 2px;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5px;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  
  cursor: pointer;
}

img.thumbnail {
  display: inline;
  width: 50px;
  height: 50px;
  vertical-align: bottom;
  padding: 0px 10px 0px;
}

button.closeDetailedWindow {
  margin: 0px 0px 0px 850px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px 0px;

  background-color: #090f31;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  
  text-decoration: none;
  font-size: 12px;
  display: absolute;
  cursor: pointer;
}

sidebar {
  width: 150px;
  /*background-color: rgba(44, 47, 105, 0.418);*/
  position: absolute;
  top: 0%;
  height: 395px;
}

library {
  width: 20%;
  background-color: rgba(44, 47, 105, 0.418);
  position: absolute;
  top: 0%;
  height: 100%;
  /*---fix later*/
  display: block;
  color: white;
  font-size: 24px;
}

libraryItems {
  margin: 25px 80px;
  display: block;
  cursor: pointer; 
}

quiz {
  background-color: #0e153bb9;
  position: absolute;
  display: none;
  margin: auto;

  line-height: 0px;
  width: 900px;
  height: 750px;
  top: 10%;
  bottom: 10%;
  left: 1%;
  right: 1%;
  padding-top: 50px;

  font-size: 32px;
  color: white;

  text-align: center;

  border: solid white 1px;
  border-radius: 15px;
}

img {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  margin-top: 10%;
}

detailedWindows {
  background-color: #0e153bb9;
  position: absolute;
  display: none;
  margin: auto;

  line-height: 0px;
  width: 900px;
  height: 800px;
  top: 10%;
  bottom: 20%;
  left: 23%;
  right: 1%;
  padding-top: 12px;

  font-size: 40px;
  color: white;

  text-align: center;

  border: solid white 1px;
  border-radius: 15px;
}

detailedTitle {
  padding-top: 32px;
}

description {
  font-size: 24px;
  line-height: 125%;
  display: block;
  text-align: left;
  padding: 32px 16px;
  text-indent: 50px;
}

p {
  margin-block-start: 8px;
  margin-block-end: 8px;
}
completedWindow {
  background-color: #040a30e4;
  color: white;
  position: absolute;
  display: none;
  margin: auto;
  
  width: 600px;
  height: 54px;
  top: 87%;
  bottom: 20%;
  left: 1%;
  right: 1%;

  padding: 40px 40px;
  border-radius: 15px;
  border: solid white 1px;
  text-align: center;
  font-size: 24px;
}

button.closeCompletedWindow {
  margin: 12px 0px 0px 602px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px 0px;

  background-color: #090f31;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  
  text-decoration: none;
  font-size: 12px;
  display: absolute;
  cursor: pointer;
}

/*---I could create a button in the js code, and when the detailed window is visible the button appears
And if you click the button, depending on which constellation is visible, the button will take you to that constellation
For testing purposes I can just have it print the name of the constellation to make sure it works.
Remember to remove the navButton css if you won't be using it in the end
(might reuse it for the navButton though)*/
button.navButton {
  margin: 32px 0px 0px 835px;
  width: 36px;
  height: 36px;

  background-color: #090f31;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  
  text-decoration: none;
  font-size: 12px;
  display: absolute;
  cursor: pointer;
}

item {
  /*---fix later*/
  display: block;
  width: 200px;
  height: 0px;
  margin-top: 60px;
}

detailedWindow {
  display: none;
}

aries {
  display: none;
}

taurus {
  display: none;
}

gemini {
  display: none;
}

cancer {
  display: none;
}

leo {
  display: none;
}

virgo {
  display: none;
}

libra {
  display: none;
}

scorpius {
  display: none;
}

sagittarius {
  display: none;
}

capricornus {
  display: none;
}

aquarius {
  display: none;
}

pisces {
  display: none;
}

@media screen and (max-width: 1750px){
  library {
    width: 350px;
  }
}