html, body {
  margin: 0;
  padding: 0;
  display: flex;
  /*Hide scrollbars*/
  overflow: hidden;
}

canvas {
  display: flex;
}

button {
  margin: 25px;
  width: 100px;
  height: 100px;
  text-align: center;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  
  cursor: pointer;
}

sidebar {
  width: 150px;
  /*background-color: rgba(44, 47, 105, 0.418);*/
  position: absolute;
  top: 0%;
  height: 395px;
}

@media screen and (max-width: 700px){
  button {
  margin: 25px 0px;
  width: 100px;
  height: 70px;

  background-color: #212852;
  border: 0;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
}
  
  sidebar {
    width: 100%;
    height: 100px;
    bottom: 0;
    top: calc(100% - 100px);
    font-size: 48px;
  }
}

library {
  width: 30%;
  background-color: rgba(44, 47, 105, 0.418);
  position: absolute;
  top: 0%;
  height: 100%;
  display: block;
  color: white;
}

libraryItems{
  margin: 25px 100px;
  display: block;
}

ariesItem {
  display: none;
}

taurusItem {
  display: none;
}

geminiItem {
  display: none;
}

cancerItem {
  display: none;
}

leoItem {
  display: none;
}

virgoItem {
  display: none;
}

libraItem {
  display: none;
}

scorpioItem {
  display: none;
}

sagittariusItem {
  display: none;
}

capricornItem {
  display: none;
}

aquariusItem {
  display: none;
}

piscesItem {
  display: none;
}

@media screen and (max-width: 1500px){
  library {
    width: 450px;
  }
}