html, body {
  margin: 0;
  padding: 0;
  display: flex;
  /*Hide scrollbars*/
  overflow: hidden;
}

canvas {
  display: flex;
}

button {
  margin: 25px;
  width: 100px;
  height: 100px;
  text-align: center;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  
  cursor: pointer;
}

sidebar {
  width: 150px;
  /*background-color: rgba(44, 47, 105, 0.418);*/
  position: absolute;
  top: 0%;
  height: 395px;
}

library {
  width: 30%;
  background-color: rgba(44, 47, 105, 0.418);
  position: absolute;
  top: 0%;
  height: 100%;
  display: block;
  color: white;
  font-size: 24px;
}

libraryItems {
  margin: 25px 100px;
  display: block;
  cursor: pointer; 
}

img {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  margin-top: 10%;
}

constellationPopups {
  background-color: #0e153bb9;
  position: absolute;
  display: none;
  margin: auto;

  width: 500px;
  height: 475px;
  top: 10%;
  bottom: 20%;
  left: 40%;
  right: 20%;
  padding-top: 25px;

  font-size: 32px;
  color: white;

  margin: 0px;
  text-align: center;

  border: solid white 1px;
  border-radius: 2%;
}

finishedConstellationPopup {
  position: absolute;
  top: 80%;
  left: 35%;
  margin-left: auto;
  margin: auto;
  width: 40%;
  height: 15%;
  font-size: 24px;
  background-color: rgba(15, 18, 70, 0.877);
  color: white;
  display: none;
}

ariesItem {
  display: none;
}

taurusItem {
  display: none;
}

geminiItem {
  display: none;
}

cancerItem {
  display: none;
}

leoItem {
  display: none;
}

virgoItem {
  display: none;
}

libraItem {
  display: block;
}

scorpioItem {
  display: none;
}

sagittariusItem {
  display: none;
}

capricornItem {
  display: none;
}

aquariusItem {
  display: none;
}

piscesItem {
  display: none;
}

ariesPopup {
  display: none;
}

taurusPopup {
  display: none;
}

geminiPopup {
  display: none;
}

cancerPopup {
  display: none;
}

leoPopup {
  display: none;
}

virgoPopup {
  display: none;
}

libraPopup {
  display: none;
}

scorpioPopup {
  display: none;
}

sagittariusPopup {
  display: none;
}

capricornPopup {
  display: none;
}

aquariusPopup {
  display: none;
}

piscesPopup {
  display: none;
}

aries {
  display: none;
}

taurus {
  display: none;
}

gemini {
  display: none;
}

cancer {
  display: none;
}

leo {
  display: none;
}

virgo {
  display: none;
}

libra {
  display: none;
}

scorpio {
  display: none;
}

sagittarius {
  display: none;
}

capricorn {
  display: none;
}

aquarius {
  display: none;
}

pisces {
  display: none;
}

@media screen and (max-width: 1500px){
  library {
    width: 450px;
  }
}