html, body {
  margin: 0;
  padding: 0;
  display: block;
  /*Hide scrollbars*/
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

canvas {
  display: flex;
}

:root {
  --library-colour: rgba(44, 47, 105, 0.418);
  --library-item-colour: #00063552;

  --detailed-window-colour: #00063552;
  --completed-window-colour: #040a30e4;
  
  --button-colour: #0009377c;
  --text-colour: #f0f0ff;
  --border-colour: #5d60ff3e;
}

button {
  margin: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 10px 6px;
  display: flex;
  background-color: var(--button-colour);
  border: double var(--border-colour) 3px;
  border-radius: 5px;
  color: var(--text-colour);
  font-size: 20px;
  cursor: pointer;
}

hr {
  width: 300px;
  border: 3px double var(--library-colour);
  margin-top: 15px;
}

img.thumbnail {
  display: inline;
  width: 40px;
  height: 40px;
  padding: 0px 10px 0px;
  margin: 0;
}

button.closeDetailedWindow {
  display: block;
  margin: -3px 0px 0px 866px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px 0px;
  
  color: var(--text-colour) ;
  
  text-decoration: none;
  font-size: 12px;
  display: absolute;
  cursor: pointer;
}

sidebar {
  width: 150px;
  position: absolute;
  top: 0%;
  height: 395px;
}

library {
  width: 375px;
  background-color: var(--detailed-window-colour) ;
  position: absolute;
  top: -0.5%;
  left: -0.5%;
  height: 110%;
  /*---fix later*/
  display: none;
  color: var(--text-colour) ;
  font-size: 20px;
  border: 3px double #5558e13e;
}

libraryTitle {
  display: block;
  text-align: center;
  margin: 30px 83px -16px;
  width: 300px;
  font-size: 30px;
}

libraryItems {
  margin: 40px 80px;
  display: block;
  cursor: pointer; 
}

quiz {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin: auto;

  line-height: 0px;
  width: 900px;
  height: 750px;
  top: 10%;
  bottom: 10%;
  left: 1%;
  right: 1%;
  padding-top: 50px;

  font-size: 32px;
  color: var(--text-colour) ;

  text-align: center;

  border: double var(--border-colour)  3px;
  border-radius: 15px;
}

img {
  height: 300px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

detailedWindows {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin: auto;
  font-weight: bold;

  line-height: 0px;
  width: 900px;
  height: 800px;
  top: 10%;
  bottom: 20%;
  left: 23%;
  right: 1%;
  padding-top: 12px;

  font-size: 40px;
  color: var(--text-colour) ;

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

description {
  font-weight: normal;
  font-size: 24px;
  line-height: 125%;
  height: 295px;
  display: block;
  text-align: left;
  padding: 32px 24px;
  text-indent: 50px;
}

p {
  margin-block-start: 8px;
  margin-block-end: 8px;
}

completedWindow {
  background-color: var(--completed-window-colour);
  color: var(--text-colour) ;
  position: absolute;
  display: none;
  margin: auto;
  
  width: 600px;
  height: 54px;
  top: 87%;
  bottom: 20%;
  left: 1%;
  right: 1%;

  padding: 40px 40px;
  border-radius: 15px;
  border: double var(--border-colour) 3px;
  text-align: center;
  font-size: 24px;
}

button.navButton {
  display: block;
  width: 45px;
  height: 45px;
  color: var(--text-colour) ;
  
  text-decoration: none;
  font-size: 12px;
  right: 0%;
  margin-top: 13px;
  margin-left: 843px;
  cursor: pointer;
}

item {
  /*---fix later*/
  display: none;
  width: 220px;
  margin-bottom: 5px;
  padding: 5px 0px;
  height: 40px;
  border-radius: 10px;
  border: double 3px var(--border-colour);
  background-color: var(--library-item-colour);
}

constNameLibrary {
  display: inline;
  vertical-align: 60%;
}

brightestStar {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

detailedWindow {
  display: none;
  margin-top: 15px;
}

dot {
  position: absolute;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: rgba(209, 209, 255, 0.676);
  border-radius: 50%;
  display: none;
  animation: starGlowing 2s infinite;
}

@keyframes starGlowing {
  50% {background-color: rgba(192, 192, 255, 0.468);
       height: 15px;
       width: 15px;}
}

aries {
  display: none;
}

taurus {
  display: none;
}

gemini {
  display: none;
}

cancer {
  display: none;
}

leo {
  display: none;
}

virgo {
  display: none;
}

libra {
  display: none;
}

scorpius {
  display: none;
}

sagittarius {
  display: none;
}

capricornus {
  display: none;
}

aquarius {
  display: none;
}

pisces {
  display: none;
}