html, body {
  margin: 0;
  padding: 0;
  display: flex;
  /*Hide scrollbars*/
  overflow: hidden;
}

canvas {
  display: flex;
}

button {
  margin: 25px;
  width: 100px;
  height: 100px;
  text-align: center;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  
  cursor: pointer;
}

library {
  width: 30%;
  background-color: rgba(44, 47, 105, 0.418);
  position: absolute;
  top: 0%;
  height: 100%;
  display: block;
  color: white;
}

libraryItems {
  position: absolute;
  top: 15%;
  left: 150px;
  height: 200px;
}

@media screen and (max-width: 700px){
  button {
  margin: 25px 0px;
  width: 100px;
  height: 70px;

  background-color: #212852;
  border: 0;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
}
}

@media screen and (max-width: 1500px){
  library {
    width: 450px;
  }
}