@font-face {
  font-family: myFont;
  src: url(fonts/Urbanist-VariableFont_wght.ttf);
}

@font-face {
  font-family: emojiFont;
  src: url(fonts/NotoEmoji-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: titleFont;
  src: url(fonts/Fascinate-Regular.ttf);
  font-weight: bold;
}

html,
body {
  font-family: myFont;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: block;
  /*Hide scrollbars*/
  overflow: hidden;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

canvas {
  display: flex;
}

splash {
  position: fixed;
  display: inline;
  
  width: 80vw;
  height: 80vh;


  background-color: #071146;
  background-image: linear-gradient(to bottom, #0f1557, #0104249d);
  margin: auto;
  padding: 35vh 20vw 20vh 10vw;
  
  color: var(--text-colour);

  text-align: center;

}

p.splashText {
  font-size: 64px;
  width: 460px;
  margin: auto;
  text-align: center;
  font-family: titleFont;
}

button.start {
  margin: auto;
  width: 200px;
  height: 64px;
  font-size: 32px;
  margin-top: 36px;
  padding: 12px 4px 52px;
}

:root {
  --Library-colour: rgba(44, 47, 105, 0.418);
  --Library-item-colour: #00063552;

  --detailed-window-colour: #030b40e4;
  --completed-window-colour: #030b40b9;

  --button-colour: #0009377c;
  --text-colour: #f0f0ff;
  --border-colour: #6164ff41;

  --green-button: hsl(140, 80%, 30%);
  --red-button: hsl(0, 80%, 30%);
}

button {
  position: block;
  margin: 20px;
  width: 100px;
  height: 85px;
  text-align: center;
  padding: 10% 0px 10%;
  display: block;
  background-color: var(--button-colour);
  border: double var(--border-colour) 3px;
  border-radius: 5px;
  color: var(--text-colour);
  font-size: 20px;
  cursor: pointer;
  font-family: myFont;
  font-weight: normal;
}

buttons {
  position: absolute;
  top: 0px;
  left: 0px;
}

button.libButton {
  top: 0px;
}

button.quizMenuButton {
  top: 100px;
}

button.quizNA {
  background-color: #030b40e4;
  opacity: 0.5;
}

button.aboutButton {
  top: 200px;
}

quiz {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin: auto;
  margin-left: 25%;

  line-height: 0px;
  width: 900px;
  height: 725px;
  top: 15%;
  bottom: 20%;
  left: 1%;
  right: 1%;
  padding-top: 12px;

  font-size: 38px;
  font-weight: bold;
  color: var(--text-colour);

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

quizQuestion {
  display: block;
  margin-top: 30px;
}

button.quizButton {
  background-color: var(--button-colour);
  font-size: 24px;
  width: 400px;
  height: 80px;
  display: inline;
  margin: 4px 4px;
  padding: 0px 0px;
}

button.quizButtonMCQ {
  background-color: var(--button-colour);
  background-color: red;
  font-size: 28px;
  width: 400px;
  height: 225px;
  display: inline;
  margin: 8px 8px;
}

sb {
  font-weight: 570;
}

img.mcq {
  margin-top: -65px;
  width: 300px;
  height: 150px;
  display: inline;
}

img.star {
  display: inline;
  width: 30px;
  height: 30px;
  vertical-align: -20%;
  margin-right: 12px;
  margin-top: 20px;
  padding-top: -20px;
  margin-bottom: 0px;
}

button.nextQuestion {
  display: none;
  position: absolute;
  background-color: var(--button-colour);
  margin: auto;
  right: 1%;
  left: 1%;
  width: 175px;
  height: 50px;
  margin-top: 6px;
  padding: 10px 20px;
  text-align: center;
}

quizDesc {
  display: block;
  padding: 6px;
  margin: 48px 0px 36px;
  font-weight: bold;
  height: 0px;
  text-decoration: underline;
}

quizNotAccessible {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin-left: 140px;

  width: 350px;
  height: 90px;
  top: 33.8%;
  bottom: 20%;
  padding-top: 10px;

  font-size: 24px;
  font-weight: bold;
  color: var(--text-colour);

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

starVisible {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin: -50px -370px;
  line-height: 120%;

  width: 360px;
  height: 60px;
  padding: 10px 0px;

  font-size: 24px;
  font-weight: bold;
  color: var(--text-colour);

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

hr {
  width: 300px;
  border: 3px double var(--border-colour);
  margin-top: 15px;
}

hr.other {
  width: 300px;
  border: 3px double var(--border-colour);
  margin-top: 15px;
}

img.thumbnail {
  display: inline;
  width: 40px;
  height: 40px;
  padding: 0px 10px 0px;
  margin: 0;
}

button.closeDetailedWindow {
  display: block;
  margin: -3px 0px 0px 858px;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 0px 0px;

  color: var(--text-colour);

  text-decoration: none;
  font-size: 16px;
  display: absolute;
  cursor: pointer;
}

sidebar {
  width: 150px;
  position: absolute;
  top: 0%;
  height: 395px;
}

Library {
  width: 375px;
  background-color: var(--detailed-window-colour);
  position: absolute;
  top: -0.5%;
  left: -0.5%;
  height: 110%;
  display: none;
  color: var(--text-colour);
  font-size: 20px;
  border: 3px double #5558e13e;
}

LibraryTitle {
  display: block;
  text-align: center;
  margin: 30px 97px -16px;
  width: 300px;
  font-size: 30px;
}

LibraryItems {
  margin: 40px 80px;
  /*//--fix later*/
  display: block;
  cursor: pointer;
}

img {
  height: 300px;
  display: block;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

detailedWindows {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin: auto;
  margin-left: 25%;
  font-weight: bold;

  line-height: 0px;
  width: 900px;
  height: 800px;
  top: 15%;
  bottom: 20%;
  left: 1%;
  right: 1%;
  padding-top: 12px;

  font-size: 40px;
  color: var(--text-colour);

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

description {
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  height: 295px;
  display: block;
  text-align: left;
  padding: 32px 32px;
  text-indent: 64px;
}

sup,
sub {
  vertical-align: 0;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.8ex;
}

p {
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin: 0px;
  line-height: 125%;
}

ul.help {
  list-style-type: "★";
  text-indent: 25px;
  margin: 0px;
}

controls {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: none;
  margin: auto;

  width: 900px;
  height: 600px;
  top: 15%;
  bottom: 20%;
  left: 1%;
  right: 1%;
  padding-top: 12px;

  font-size: 38px;
  font-weight: bold;
  color: var(--text-colour);

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

about {
  background-color: var(--detailed-window-colour);
  position: absolute;
  display: block;
  margin: auto;

  width: 900px;
  height: 620px;
  top: 15%;
  bottom: 20%;
  left: 1%;
  right: 1%;
  padding-top: 12px;

  font-size: 38px;
  font-weight: bold;
  color: var(--text-colour);

  text-align: center;

  border: double var(--border-colour) 3px;
  border-radius: 15px;
}

aboutDescription {
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  height: 295px;
  display: block;
  text-align: left;
  padding: 12px 32px;
  text-indent: 64px;
}

completedWindow {
  background-color: var(--completed-window-colour);
  color: var(--text-colour);
  position: absolute;
  display: none;
  margin: auto;

  width: 800px;
  height: 24px;
  top: 93%;
  bottom: 20%;
  left: 1%;
  right: 1%;

  padding: 34px 24px;
  border-radius: 15px;
  border: double var(--border-colour) 3px;
  text-align: center;
  font-size: 24px;
}

button.navButton {
  display: block;
  width: 45px;
  height: 45px;
  color: var(--text-colour);

  text-decoration: none;
  font-size: 12px;
  right: 0%;
  margin-top: 6px;
  margin-left: 843px;
  padding: 0px;
  cursor: pointer;
}

item {
  /*---fix later*/
  display: none;
  width: 220px;
  margin-bottom: 5px;
  margin-left: 17px;
  padding: 5px 0px;
  height: 40px;
  border-radius: 10px;
  border: double 3px var(--border-colour);
  background-color: var(--Library-item-colour);
}

constNameLibrary {
  display: inline;
  vertical-align: 60%;
}

brightestStar {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

detailedWindow {
  display: none;
  margin-top: 15px;
}

dot {
  position: absolute;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: rgba(209, 209, 255, 0.73);
  border-radius: 50%;
  display: none;
  animation: starGlowing 2s infinite;
}

@keyframes starGlowing {
  50% {
    background-color: rgba(192, 192, 255, 0.468);
    height: 18px;
    width: 18px;
  }
}

Aries {
  display: none;
}

Taurus {
  display: none;
}

Gemini {
  display: none;
}

Cancer {
  display: none;
}

Leo {
  display: none;
}

Virgo {
  display: none;
}

Libra {
  display: none;
}

Scorpius {
  display: none;
}

Sagittarius {
  display: none;
}

Capricornus {
  display: none;
}

Aquarius {
  display: none;
}

Pisces {
  display: none;
}