html, body {
  margin: 0;
  padding: 0;
  display: flex;
}

canvas {
  display: flex;
}

button {
  margin: 25px;
  width: 100px;
  height: 100px;
  text-align: center;

  background-color: #12183a;
  border: solid white 1px;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  
  cursor: pointer;
}

sidebar {
  width: 150px;
  background-color: #212852;
  position: absolute;
  top: 0%;
  height: 395px;
}

@media screen and (max-width: 700px){
  button {
  margin: 25px 0px;
  width: 100px;
  height: 70px;

  background-color: #212852;
  border: 0;
  border-radius: 5%;
  color: white;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
}
  
  sidebar {
    width: 100%;
    height: 100px;
    bottom: 0;
    top: calc(100% - 100px);
    font-size: 48px;
  }
}

/*sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}*/